#test {
    background-color: blue;
}

.brush-canvas {
    border: 2px solid black;
    padding: 10px;
    max-height: 400px;
    margin: auto;
}

.the-canvas {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.the-canvas .previews {
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1rem;
    justify-content: center;
}

.the-canvas .previews .card-img {
    height: 70px;
    width: 70px;
    border-radius: 10px; /* Makes it a pill shape */
    background-color: black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.the-canvas .previews .card-img:hover {
    transform: scale(1.2);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Adds shadow on hover */
}